* {
    -fx-font-family: "Times New Roman";
}

.button {
    -fx-background-color: #313244;
    -fx-background-radius: 13px;
    -fx-border-radius: 10px;
    -fx-border-width: 3px;
    -fx-border-color: #fab387;
    -fx-text-fill: #89b4fa;
    -fx-font-size: 14pt;
    -fx-padding: 10px 20px;
}

.root {
    -fx-background-color: #1e1e2e;
}

.button:hover {
    -fx-background-color: #6c7086; 
}

/* Style the text fields */
.text-field {
    -fx-background-color: #313244;
    -fx-text-fill: #cdd6f4;
    -fx-border-radius: 5px;
    -fx-border-color: #f9e2af;
    -fx-font-size: 14pt;
    -fx-padding: 5px;
    -fx-prompt-text-fill: #cdd6f4;
}

.label {
    -fx-font-size: 14pt;
    -fx-text-fill: #cdd6f4;
}

.confirmation-message {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-text-fill: #94e2d5;
}

.error-message {
    -fx-font-size: 12pt;
    -fx-text-fill: #f38ba8;
}